<div class="body">
    <div class="loggedIn" id="loggedIn">
        <div class="intro">
            <h2>Create A Lib With A Saved Template</h2>
            <p>Select a template from the list to pick which lib template you want to use.</p>
        </div>
        <div class="selector">
            <form [formGroup] = "formGroup">
                <select size="10" id="libList" formControlName="selectedLib" (change)="onChange($event.target.value)">
                    <option value={{choice.id}} *ngFor="let choice of libChoices">{{choice.libName}}</option>
                </select>
            </form>
        </div>
        <app-libcreate [selection]="this.selection"></app-libcreate>
    </div>
    <div class="loggedOut" id="loggedOut">
        <p>Please login to use this functionality.</p>
    </div>
</div>