<div class="intro">
    <p>Please upload your txt file to be used.</p>
</div>
<div class="uploader">
    <form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
        <input type="file" accept=".txt" (change)="onFileChange($event)" />
        <input type="submit" [disabled]="formGroup.invalid" value="upload" />
    </form>
</div>
<div class="inputs" id="inputs" *ngIf=totals>
    <div class="nouns" *ngFor="let noun of nounsArr; let i = index">
        <label>Noun</label><input class="nounInput" type="text" id="noun_{{i}}" [(ngModel)]=noun.noun>
    </div>
    <div class="plurals" *ngFor="let plural of pluralsArr; let i = index">
        <label>Plural Noun</label><input class="pluralInput" type="text" id="plural_{{i}}" [(ngModel)]=plural.plural>
    </div>
    <div class="verbs" *ngFor="let verb of verbsArr; let i = index">
        <label>Verb</label><input class="verbInput" type="text" id="verb_{{i}}" [(ngModel)]=verb.verb>
    </div>
    <div class="adjectives" *ngFor="let adj of adjArr; let i = index">
        <label>Adjective</label><input class="adjInput" type="text" id="adj_{{i}}" [(ngModel)]=adj.adjective>
    </div>
    <div class="colors" *ngFor="let color of colorsArr; let i = index">
        <label>Color</label><input class="colorInput" type="text" id="color_{{i}}" [(ngModel)]=color.color>
    </div>
    <div class="ings" *ngFor="let ing of ingsArr; let i = index">
        <label>Ing Verb</label><input class="ingInput" type="text" id="ing_{{i}}" [(ngModel)]=ing.ing>
    </div>
    <div class="adverbs" *ngFor="let adverb of adverbsArr; let i = index">
        <label>Adverb</label><input class="adverbInput" type="text" id="adverb_{{i}}" [(ngModel)]=adverb.adverb>
    </div>
    <div class="propers" *ngFor="let prop of propArr; let i = index">
        <label>Proper Noun</label><input class="propInput" type="text" id="prop_{{i}}" [(ngModel)]=prop.proper>
    </div>
    <div class="numbers" *ngFor="let numb of numbArr; let i = index">
        <label>Number</label><input class="numbInput" type="number" id="numb_{{i}}" [(ngModel)]=numb.number>
    </div>
    <div class="pasts" *ngFor="let past of pastsArr; let i = index">
        <label>Past Tense Verb</label><input class="pastInput" type="text" id="past_{{i}}" [(ngModel)]=past.past>
    </div>
    <button type="button" (click)="onCreate()">Create Insane Lib</button>
</div>
<div class="finishedLib" id="finishedLib" *ngIf=finishedLib>
    <p>{{finishedLib}}</p>
</div>
