<div class="body">
    <div class="title">
        <h2>Welcome to Truly InsaneLibs!</h2>
    </div>
    <div class="prelog" id="prelog">
        <div class="intro">
            <p>This application allows you to create a MadLib
                using either a txt file or a  previous entered
                MadLib.</p>
        </div>
        <div class="login" id="login">
            <p>Please login.</p>
            <label for="username" id="namelabel">Username</label><input type="text" id="username" [(ngModel)]="username"><br>
            <label for="password" id="passlabel">Password</label><input type="password" id="password" [(ngModel)]="password"><br>
            <button id="loginbutton" (click)="login()">Login</button>
            <a class="register" routerLink="newuser">Register A New Account</a>
        </div>
    </div>
    <div id="welcome" *ngIf=loggedUser><span>Welcome {{loggedUser}}!</span></div>
</div>
