<div class="mainNavBG">
    <nav class="mainNav">
        <div class="navButtonSection">
            <a class="firstBtn" routerLink="/">Main Page</a>
            <a class="secondBtn" routerLink="/filecreate">Create Insane Lib</a>
            <a class="thirdBtn" routerLink="/fileupload">Upload An Insane Lib</a>
            <a class="fourthBtn" routerLink="/savedcreate">Create Insane Lib From A Saved Template</a>
            <a class="fifthBtn" routerLink="/savedview">View Your Saved Libs</a>
            <a class="sixthBtn" id="navLogout" routerLink="/" (click)="logout()">Logout</a>
        </div>
        <div class="loggedIn" *ngIf=loggedUsername>
            {{loggedUsername}}
        </div>
    </nav>
</div>