<div class="mainNavBG">
    <nav class="mainNav">
        <div class="navButtonSection">
            <a class="firstBtn" routerLink="/">Main Page</a>
            <a class="secondBtn" routerLink="/filecreate">Create Insane Lib</a>
            <a class="thirdBtn" routerLink="/fileupload">Upload An Insane Lib</a>
            <a class="fourthBtn" routerLink="/savedcreate">Create Insane Lib From A Saved Template</a>
            <a class="fifthBtn" routerLink="/savedview">View Your Saved Libs</a>
        </div>
        <div class="navLogout">
            <a class="logoutBtn" routerLink="/" (click)="logout()">Logout</a>
        </div>
        <div class="loggedIn" *ngIf=loginMessage>
            {{loginMessage}}
        </div>
    </nav>
</div>