#navLogout
{
    display: none;
}

#createoptions
{
    width: 150px;
}

#templateoptions
{
    width: 135px;
}

.navButtonSection 
{
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
}

.firstBtn
{
    margin-right: 5px;
}

.secondBtn, .thirdBtn, .fourthBtn, .fifthBtn, .sixthBtn, .seventhBtn, .eighthBtn, .ninthBtn
{
    margin-left: 10px;
}

.loggedin
{
    margin-left: 10px;
    text-align: right;
}

.mainNavBG
{
    width: 100%;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    background-color: springgreen;
    margin-left: -10px;
    margin-top: -10px;
    white-space: normal;
    box-shadow: 2px 1px 3px black;
}

.dropdowntop
{
    cursor: pointer;
    background-color: springgreen;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: 11pt;
}

.dropdowntop:hover
{
    color: #551a89;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdownlist
{
    
    display: none;
    background-color: springgreen;
    box-shadow: 1px 3px black;
}

.dropdownlist a
{
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdownlist
{
    display: block;
    position: absolute;
}