<div class="body">
    <div class="loggedIn" id="loggedIn">
        <div class="filecreate">
            <div class="intro">
                <h2>Lib Creation With A Local File</h2>
                <p>Please upload your txt file to be used.</p>
            </div>
            <div class="uploader">
                <form [formGroup] = "formGroup">
                    <input type="file" accept=".txt" (change)="onFileChange($event)" />
                </form>
            </div>
        </div>
        <app-libcreate [file]="this.formGroup.get('file').value" [dbLibName]="this.fileName"></app-libcreate>
    </div>
    <div class="loggedOut" id="loggedOut">
        <p>Please login to use this functionality.</p>
    </div>
</div>
