<div class="body">
    <div class="title">
        <h2>User Registration</h2>
    </div>
    <div class="loggedOut" id="loggedOut">
        <div class="intro">
            <p>This is where you can register a new account.</p>
        </div>
        <div class="login" id="login">
            <p>Please enter a username and password.</p>
            <form [formGroup] = "registerForm" (ngSubmit)="onSubmit()">
                <label for="username" id="namelabel">Username</label><input type="text" id="username" formControlName="username"><br>
                <label for="password" id="passlabel">Password</label><input type="password" id="password" formControlName="password"><br>
                <input type="submit" id="registerbutton" [disabled]="registerForm.invalid" value="Register">
            </form>
        </div>
        <div id="message" *ngIf=registerMessage><span>That username has already been taken. Please choose another one.</span></div>
    </div>
    <div class="loggedIn" id="loggedIn">
        <p>You are already logged in.</p>
    </div>
</div>
