/* You can add global styles to this file, and also import other style files */
pre 
{
    white-space: pre-line;
    text-align : left;
 }

 body
{
    background-color: teal;
}

 .body
 {
     width: 50%;
     margin-left: 25%;
     margin-top: 5%;
     background-color: turquoise;
     text-align: center;
 }